
.yam {
  font-size: 3em;
  font-family: cooperplate;
  text-align: center;
  color: #2b1103;
}

.img1 {
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  height: 5em;
  display: block;
  align-items: center;
}

.p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: -1rem;
  align-items: center;
  color:#2b1103;
}

.btn_wrapper {
  width: 20em;
  height: 5em;
  margin: 0 auto;
  margin-top: 10em;
}

.btn {
  color: black;
  width: 150px;
  height: 45px;
  margin-top: 10px;
  font-weight: bold;
  background-color: #ffb067;
  border-radius: 25px;
  opacity: 80%;
  border: 1px solid #2b1103;
  font-size: 18px;
}
.btn:active {
  background-color: #2b1103;
  color: white;
  box-shadow: 2px 2px 5px #2b1103;
  cursor: pointer;
}
.btn:hover {
  background-color: #2b1103;
  cursor: pointer;
  color: white;
}
.btn_left{
  float: left;
}

.btn_right{
  float: right;
}
@media (max-width:1020px) {
  .btn_wrapper {
    margin-top: 200px;
  }
  .yam{
    margin-top: 80px;
  }
}
