.div_wrapper {
  width: 70%;
  height: 30em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.yam {
  font-size: 3em;
  font-family: cooperplate;
  text-align: center;
  align-items: center;
}

.img1 {
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  height: 5em;
  display: block;
  align-items: center;
}

.p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: -1rem;
  align-items: center;
}

.btn_wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  height: 5em;
  justify-content: center;
  margin: 11% auto;
  padding: 0.5em;
}

.btn {
  display: block;
  margin: 0.3em;
  padding: 0.5em;
  background-color: #ffb067;
  width: 10em;
  height: 3.3em;
  font-size: 1.1em;
  text-align: center;
  border-radius: 0.7em;
  cursor: pointer;
}
.btn:active {
  background-color: grey;
  color: white;
  box-shadow: 2px 2px 5px #2b1103;
  cursor: pointer;
}
.btn:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

