.container {
  /* display: flex;
  justify-content: center; */
}

.alert {
  border: 1px solid red;
  background-color: #ff7077;
  /* position: relative; */
  backdrop-filter: blur(100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 4;
}

.text {
  position: absolute;
  background-color: #ffe9e4;
  color: #ff7077;
  font-weight: bold;
  height: 132px;
  width: 350px;
  border: 2px solid white;
  border-radius: 25px;
  text-align: center;
}
.ok {
  position: absolute;
  background-color: #ffe9e4;
  color: #ff7077;
  width: 100px;
  height: 30px;
  border: 2px solid;
  border-radius: 10px;
}

.ok:active {
  background-color: #ffb067;
  box-shadow: 2px 2px 5px #2b1103;
  color: white;
}

.hide {
  display: none;
}
