.container {
  margin-top: 4em;
  border: 1px solid rgb(207, 84, 8);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  width: 100%;
  height: 95%;
  margin: 0 auto;
  max-width: 960px;
}

.wrap {
  width: 1000px;
  display: flex;
}

.header {
  margin-top:2em;
  width: 50em;
  height: 8em;
  margin: 0 auto;
  align-items: center;
}

.btn_bottom{
  width: 20em;
  height: 5em;
  margin: 0 auto;
  margin-top: 5em;
}

.bag_cat_responsive {
  display: flex;
  width: 50%;
}

.section_cat {
  width: 200px;
  margin-top:7em;
}

.bag_container {
  width: 270px;
  position: relative;
  margin-top: 7em;
}

.shelf_container {
  height: 400px;
  width: 375px;
  position: relative;
}

.hello {
  color: #2b1103;
  font-size: 2.5rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  font-family: cooperplate;
}

.text {
  color:  #2b1103;
  font-size: 1.25rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.btn_header {
  color: black;
  width: 150px;
  height: 45px;
  margin-top: 10px;
  font-weight: bold;
  background-color: #67b6ff;
  border-radius: 25px;
  opacity: 80%;
  border: 1px solid #2b1103;
  font-size: 18px;
}

.btn_header:active {
  background-color: rgb(8, 75, 191);
  box-shadow: 2px 2px 5px #2b1103;
  cursor: pointer;
  color: white;
}

.btn_header:hover {
  background-color:rgb(8, 75, 191);
  cursor: pointer;
  color: white;
} 

.btn_left{
  float: left;
}

.btn_right{
  float: right;
}

.cat {
  margin-left: 45px;
  width: 10em;
  height: 16.25em;
  opacity: 80%;
}

.bag {
  width: 16.3rem;
  height: 16.25rem;
}

.cat_bag {
  position: absolute;
  transform: rotate(83deg);
  top: 7em;
  left: 10em;
}

.cat_above {
  position: absolute;
  width: 32%;
  height: 5em;
  margin-top: -50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.shelf {
  width: 100%;
  height: 25em;
}

.extra_text {
  width: 82px;
  text-align: center;
  color: white;
  transform: rotate(-18deg);
  text-shadow: 2px 2px 2px red;
  position: absolute;
  top: 345px;
    left: 139px;
}

.extra {
  position: absolute;
  color: white;
  transform: rotate(-18deg);
  width: 86px;
  height: 64px;
  top: 342px;
  left: 138px;
}

.extra_cats {
  color: white;
  z-index: 1;
  position: absolute;
  top: 250px;
  left: 142px;
}

.inTheBag {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0px;
  left: 0px;
  z-index:-1;
}

.food1_inTheBag {
  transform: rotate(33deg);
  top: 10.6em;
  left: 3em;
}
.food2_inTheBag {
  top: 11em;
  left: 6em;
  transform: rotate(-22deg);
}
.food3_inTheBag {
  top: 10.6em;
  left: 8.9em;
  transform: rotate(12deg);
}
.food4_inTheBag {
  top: 8.6em;
  left: 5.9em;
}
.food5_inTheBag {
  top: 7.6em;
  left: 2.3em;
  transform: rotate(-16deg);
}
.food6_inTheBag {
  top: 7.9em;
  left: 8.9em;
  transform: rotate(24deg);
}
.food7_inTheBag {
  top: 5.6em;
    left: 5.9em;
}
.food8_inTheBag {
  top: 5.6em;
  left: 8.6em;
  transform: rotate(10deg);
}
.food9_inTheBag {
  top: 4.4em;
  left: 2.6em;
  transform: rotate(-15deg);
}
.food10_inTheBag {
  top: 2.6em;
  left: 5.9em;
  transform: rotate(22deg);
}

.box {
  width: 55px;
  height: 55px;
  float: right;
  position: absolute;
  top: 0px;
  border-radius: 50px;
  border: 2px solid #67b6ff;
  background-color: #ffb067;
}
.done {
  width: 55px;
  height: 55px;
  float: right;
  position: absolute;
  top: 0px;
  border-radius: 50px;
  z-index: 2;
}

.hidden {
  display: none;
}

.food1_position {
  top: 55px;
  left: 37px;
}

.food2_position {
  top: 55px;
  left: 133px;
}

.food3_position {
  top: 55px;
  left: 197px;
}

.food4_position {
  top: 55px;
 left: 294px;
}

.food5_position {
  top: 132px;
  left: 102px;
}

.food6_position {
  top: 132px;
  left: 165px;
}

.food7_position {
  top: 132px;
  left: 229px;
}

.food8_position {
  top: 212px;
  left: 166px;
}

.food9_position {
  top: 300px;
  left: 98px;
}

.food10_position {
  top: 300px;
  left: 231px;
}

.div_img {
  margin-left: 200px;
  margin-top: 30px;
}

.foodNumber{
  position: absolute;
    top: 0px;
    font-family: serif;
    font-weight: bold;
    font-size: 13px;
    z-index: 1;
}

.foodNr1{
  top: 81px;
  left: 60px;
}
.foodNr2{
  top: 81px;
  left: 156px;
}
.foodNr3 {
  top: 71px;
  left: 221px;
}

.foodNr4 {
  top: 71px;
  left: 318px;
}

.foodNr5 {
  top: 148px;
  left: 124px;
}

.foodNr6 {
  top: 148px;
  left: 189px;
}

.foodNr7 {
  top: 148px;
  left: 253px;
}

.foodNr8 {
  top: 227px;
  left: 189px;
}

.foodNr9 {
  top: 317px;
  left: 121px;
  color: red;
}

.foodNr10 {
  top: 316px;
  left: 251px;
  color: red;
}

.btn {
  background-color: #ffb067;
  border: none;
}

 .btn:hover {
  background-color: #ffb067;
  border: none;
  cursor: pointer;
}

.btn:active {
  background-color: #ffb067;
  border: none;
  cursor: pointer;
} 


@media (max-width:1020px) {
.container {
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    border: none;
    box-shadow: none;
}

.header {
  height: 8em;
  margin: 0 auto;
  width: 20em;
  align-items: left;
}

.bag_cat_responsive {
 display: none;
}

.btn_bottom {
  display: block;
  margin-top: 1em;
  text-align: center;
}

.cat_above {
  display: none;
}
.cat_bag{
  display: none;
}
.btn_top {
  display: none;
  }
.shelf_container {
  position: relative;
}
}
