.container {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  position: relative;;
}

.header {
  /* border: 2px solid; */
  z-index: 1;
  z-index: 1;
    margin: 2em;
    text-align: center;
}

.bground {
  max-height: 750px;;
  opacity: 8%;
  z-index: -1;
  position: absolute;
}

.hello {
  color:  #2b1103;
  font-size: 40px;
  margin-bottom: 0;
  margin-left: 1em;
}

.text {
  color:  #2b1103;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 2.5em;
}

.btn_header {
  width: 150px;
  height: 45px;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
  background-color: #ffb067;
  border-radius: 25px;
  opacity: 80%;
  border: 1px solid #2b1103;
}

.btn_header:active {
  background-color: #2b1103;
  box-shadow: 2px 2px 5px #2b1103;
  cursor: pointer;
}

.btn_header:hover {
  background-color:#2b1103;
  cursor: pointer;
  color: white;
} 

.wrap {
  display: flex;
}

.section_cat{
  /* background-color: #aceef3; */
  position: relative;
  width: 20%;
}

.cat {
  /* background-color: #aceef3; */
  position: absolute;
  left:10%;
  top:17%;
  width: 10em;
  height: 16.25em;
  opacity: 80%;
}


.section_left {
  /* border: 1px solid red;
  background-color: #0f5319; */
  position: relative;
  width: 30%; 
}

.bag_container {
 position: relative;
 top:15%;
}

.bag {
  width: 16.3em;
  height: 16.25em;
}

.cat_bag {
  position: absolute;
  transform: rotate(83deg);
  top: 7em;
  left: 10em;
}

.section_right {
  position: relative;
  /* border: 1px solid white;
  background-color: #b51d31; */
  width: 50%;
  display: flex;
  flex-direction: column;
}

.cat_above {
  position: absolute;
  width: 25%;
  height: 5em;
  margin-top: -2.7em;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.shelf_container {
  /* background-color: #8ce21a; */
  width: 496px;
  height: 496px;
  position: relative;
}

.shelf {
  /* width: 100%; */
  height: 31em;
}

.extra_text {
  width: 20%;
  text-align: center;
  color: white;
  transform: rotate(-18deg);
  text-shadow: 2px 2px 2px red;
  position: absolute;
  top: 27.2em;
  left: 12em;
}

.extra {
  color: white;
  transform: rotate(-18deg);
  width: 20%;
  height: 5em;
  top: 26.5em;
  position: absolute;
  left: 12em;
}

.extra_cats {
  color: white;
  z-index: 1;
  position: absolute;
  top: 20em;
  left: 11.2em;
}

.inTheBag {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0px;
  left: 0px;
  z-index:-1;
}

.food1_inTheBag {
  transform: rotate(33deg);
  top: 10.6em;
  left: 3em;
}
.food2_inTheBag {
  top: 11em;
  left: 6em;
  transform: rotate(-22deg);
}
.food3_inTheBag {
  top: 10.6em;
  left: 8.9em;
  transform: rotate(12deg);
}
.food4_inTheBag {
  top: 8.6em;
  left: 5.9em;
}
.food5_inTheBag {
  top: 7.6em;
  left: 2.3em;
  transform: rotate(-16deg);
}
.food6_inTheBag {
  top: 7.9em;
  left: 8.9em;
  transform: rotate(24deg);
}
.food7_inTheBag {
  top: 5.6em;
    left: 5.9em;
}
.food8_inTheBag {
  top: 5.6em;
  left: 8.6em;
  transform: rotate(10deg);
}
.food9_inTheBag {
  top: 4.4em;
  left: 2.6em;
  transform: rotate(-15deg);
}
.food10_inTheBag {
  top: 2.6em;
  left: 5.9em;
  transform: rotate(22deg);
}

.box {
  width: 70px;
  height: 70px;
  float: right;
  position: absolute;
  top: 0px;
  border-radius: 50px;
  border: 2px solid #aceef3;
  background-color: #ffb067;
}
.done {
  position: absolute;
  top: 0px;
  width: 60px;
  height: 60px;
  transform: rotate(-6deg);
}
.hidden {
  display: none;
}

.food1_position {
  top: 5.3em;
  left: 4.5em;
}

.food2_position {
  top: 5.3em;
  left: 13em;
}

.food3_position {
  top: 5.3em;
  left: 20em;
}

.food4_position {
  top: 5.3em;
  left: 28.5em;
}

.food5_position {
  top: 12.5em;
  left: 10.5em;
}

.food6_position {
  top: 12.5em;
  left: 16.5em;
}

.food7_position {
  top: 12.5em;
  left: 22.5em;
}

.food8_position {
  top: 20em;
  left: 16.5em;
}

.food9_position {
  top: 28em;
  left: 10em;
}

.food10_position {
  top: 28em;
  left: 22.5em;
}

.div_img {
  margin-left: 200px;
  margin-top: 30px;
}

.btn_right {
  float: right;
  background-color: #ffb067;
  width: 200px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}

.spy_cat {
  right: 0px;
  float: right;
  width: 100px;
  height: 100px;
  margin-right: -15px;
}
.cat_asks {
  left: 0px;
  float: left;
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.foodNumber{
  position: absolute;
    top: 0px;
    font-family: serif;
    font-weight: bold;
    font-size: 15px;
}
.foodNr1{
  top: 3.3em;
  left: 8em;
}
.foodNr2{
  top: 3.3em;
  left: 15.6em;
}
.foodNr3{
  top: 3.3em;
  left: 21.8em;
}
.foodNr4{
  top: 3.3em;
  left: 29.6em;
}
.foodNr5{
  top: 9.8em;
  left: 13.6em;
}
.foodNr6{
  top: 9.8em;
  left: 18.8em;
}
.foodNr7{
  top: 9.8em;
  left: 24.2em;
}
.foodNr8{
top: 17em;
left: 19.2em;
}
.foodNr9{
  top: 23.6em;
  left: 13em;
  color: red;
}
.foodNr10{
  top: 23.6em;
  left: 24em;
  color:red;
}

.btn {
  background-color: #ffb067;
  border: none;
}

 .btn:hover {
  background-color: #ffb067;
  border: none;
  cursor: pointer;
}

.btn:active {
  background-color: #ffb067;
  border: none;
  cursor: pointer;
} 


@media (max-width:960px) {
.container{
  background-color: #aceef3;
  left:2em;
};
.cat{
  left:2em;
}
}
